body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Snas", Arial, sans-serif;
    background-image: url(./img/table.png);
    background-size: cover;
    text-align: center;
    color: white; 
    font-weight: bold;
    font-size: 2rem;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

.btnContainer {
    display: grid;
    place-content: center;
}

button {
    margin-bottom: 20px;
    color: #016f32;
    max-width: 300px;  
    font-size: 2rem;
    font-weight: bold;
    background-color: goldenrod;
    white-space: nowrap;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    padding: 5px 13px;
}

.showBtn {
    display: none;
}